# tfx
# Pipeline definition file in argo format for Kubeflow.
*.tar.gz
# Default pipeline output directory 
tfx_pipeline_output
# Default tfx metadata SQLite DB directory
tfx_metadata
*.tfrecord

# cache
__pycache__/

# IPython checkpoints
**/.ipynb_checkpoints/

# editor meta files
.vscode/
.idea/
.DS_Store